Repository CodeStrong2023/JuniorTechTropersTercerSem2024, pull requests merged in 2024-07, with the labels that each got.

#232 Clase 10 y 11 Proyecto Listar Personas JAVA
  JAVA/Leccion10/Persona.uxf
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/ListadoPersonaApp.java
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/Persona.java
Labels: JAVA

#233 Class 11 Python completa | Practica JS Clase 11 Login
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/assets/iconos/GITHUB.png
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/assets/iconos/YOUTUBE.png
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/codigo.js
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/css/style.css
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/index.html
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/Persona.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/conexion.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/connection.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/cursor_del_pool.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/logger_base.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/personaDao.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/persona_dao.py
Labels: PYTHON, JAVASCRIPT, html, CSS

#234 Clase 12 Java Proyecto Sistema Estudiantes, packege dato, archivo Est…
  JAVA/Lección12/SistemaEstudantes/.gitignore
  JAVA/Lección12/SistemaEstudantes/.idea/.gitignore
  JAVA/Lección12/SistemaEstudantes/.idea/encodings.xml
  JAVA/Lección12/SistemaEstudantes/.idea/misc.xml
  JAVA/Lección12/SistemaEstudantes/.idea/vcs.xml
  JAVA/Lección12/SistemaEstudantes/pom.xml
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/Main.java
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/conexion/Conexion.java
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/datos/EstudianteDAO.java
Labels: JAVA

#235 package dominio con archivo completo Estudiante
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/dominio/Estudiantes.java
Labels: JAVA

#236 Tercer Semestre terminado
  JAVA/Leccion10/Persona.uxf
  JAVA/Leccion11/ListarPersonas/.gitignore
  JAVA/Leccion11/ListarPersonas/.idea/.gitignore
  JAVA/Leccion11/ListarPersonas/.idea/misc.xml
  JAVA/Leccion11/ListarPersonas/.idea/modules.xml
  JAVA/Leccion11/ListarPersonas/.idea/uiDesigner.xml
  JAVA/Leccion11/ListarPersonas/.idea/vcs.xml
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/ListadoPersonaApp.java
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/Persona.java
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/README.TXT
  JAVA/Leccion11/ListarPersonas/ListadoPersonaBj/package.bluej
  JAVA/Leccion11/ListarPersonas/ListarPersonas.iml
  JAVA/Leccion11/ListarPersonas/src/ListadoPersonasApp.java
  JAVA/Leccion11/ListarPersonas/src/Persona.java
  JAVA/Lección12/SistemaEstudantes/.gitignore
  JAVA/Lección12/SistemaEstudantes/.idea/.gitignore
  JAVA/Lección12/SistemaEstudantes/.idea/encodings.xml
  JAVA/Lección12/SistemaEstudantes/.idea/misc.xml
  JAVA/Lección12/SistemaEstudantes/.idea/vcs.xml
  JAVA/Lección12/SistemaEstudantes/pom.xml
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/Main.java
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/conexion/Conexion.java
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/datos/EstudianteDAO.java
  JAVA/Lección12/SistemaEstudantes/src/main/java/UTN/dominio/Estudiantes.java
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/assets/iconos/GITHUB.png
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/assets/iconos/YOUTUBE.png
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/codigo.js
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/css/style.css
  JAVASCRIPT/Clase 11 Practicas  Login/final-3/index.html
  JAVASCRIPT/TSLeccion10/DiagramaUMLProyectoVentas.uxf
  JAVASCRIPT/TSLeccion10/SistemaVentas.js
  PYTHON/Proyecto particulas/README.md
  PYTHON/Proyecto particulas/index.html
  PYTHON/Proyecto particulas/particulas.js
  PYTHON/Proyecto particulas/style.css
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/.gitignore
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/Leccion07.iml
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/inspectionProfiles/profiles_settings.xml
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/misc.xml
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/modules.xml
  PYTHON/Tecnicatura3py/Archivos/Leccion07/.idea/vcs.xml
  PYTHON/Tecnicatura3py/Archivos/Leccion07/acceso_datos.uxf
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/Persona.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/__pycache__/logger_base.cpython-311.pyc
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/conexion.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/connection.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/cursor_del_pool.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/logger_base.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/personaDao.py
  PYTHON/Tecnicatura3py/Archivos/Leccion07/capa_datos_persona/persona_dao.py
Labels: documentation, JAVA, PYTHON, JAVASCRIPT, html, CSS
